# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.py~*

# Archivos del entorno virtual
.env
.venv/
env/
venv/
ENV/
*.env

# Archivos de configuración sensibles
config.json
*.db
*.sqlite3

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log

# IDEs
.vscode/
.idea/

# Compilados de Flet (si aplican)
build/
dist/
